{% extends "master.html" %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-error alert-block">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<h3>Add New Contact</h3>

  <form method="POST" action="/add_contacts">
  	{{form.hidden_tag()}}
    <div>
      {{ form.first_name.label }}
      {{ form.first_name(placeholder="Kristen") }}
      {% for error in form.errors.first_name %}
        <span style="color: red;">[{{error}}]</span><br>
      {% endfor %}
    </div>
      
    <div>
      {{ form.last_name.label }}
      {{ form.last_name(placeholder="Judd") }}
      {% for error in form.errors.last_name %}
        <span style="color: red;">[{{error}}]</span><br>
      {% endfor %}
    </div>

    <div>
      {{ form.phone_number.label }}
      {{ form.phone_number(placeholder="Phone Number") }}
      {% for error in form.errors.phone_number %}
        <span style="color: red;">[{{error}}]</span><br>
      {% endfor %}
    </div>

    <button class="btn btn-info" type="submit">Submit</button>  
  </form>

  <a class="choose-game-link btn btn-small" href='/contacts'>&laquo; Back to contacts</a>

{% endblock %}