{% extends "master.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-error alert-block">
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

 <h3>Sign Up</h3>
  <form method="POST" action="/sign_up">
  	{{form.hidden_tag()}}
    <div>
      {{ form.name.label }}
      {{ form.name(placeholder="Kristen") }}
      {% for error in form.errors.name %}
        <span style="color: red;">[{{error}}]</span><br>
      {% endfor %}
    </div>
      
    <div>
      {{ form.email.label }}
      {{ form.email(placeholder="kajudd@gmail.com") }}
      {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span><br>
      {% endfor %}
    </div>

    <div>
      {{ form.password.label }}
      {{ form.password(placeholder="Password") }}
      {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span><br>
      {% endfor %}
    </div>

    <button class="btn btn-info" type="submit">Submit</button>  
  </form>

  <a class="choose-game-link btn btn-small" href='/'>&laquo; Back to login</a>

{% endblock %}